<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/main.css" th:href="@{../static/main.css}">

  <title>Output</title>
</head>
<body>
<h1>Output</h1>

<!--<lable th:text="${param.rock}"></lable>-->
<!--<lable th:text="${param.paper}"></lable>-->
<!--<lable th:text="${param.scissors}"></lable>-->
<p>You Selected:</p>
<p>Computer Selected:</p>
<!--<lable th:text="${name}"></lable>-->
<p>The Winner Is:</p>
<p><a href="input.html" th:href="@{Input}">Play Again!</a></p>

</body>
</html>